<footer class="SiteFooter">
	<div>
		<span class="SiteFooter_power">Powered by <a href="https://github.com/husd">husd</a> @2016
			京123456</span>
		<ul>
			<li><a href="/terms">Terms & Conditions Of Use</a></li>
			<li><a href="/privacy">Privacy Policy</a></li>
			<li><a href="https://twitter.com/">Twitter</a></li>
			<li><a href="https://facebook.com/">Facebook</a></li>
		</ul>
	</div>
</footer>