<footer class="SiteFooter">
	<div>
		<span class="SiteFooter_power">Powered by <a href="https://github.com/husd">husd</a> @2016
			京123456</span>
		<ul>
			<li><a href="/terms">团队介绍</a></li>
			<li><a href="/privacy">版权声明</a></li>
			<li><a href="https://twitter.com/">友情链接1</a></li>
			<li><a href="https://facebook.com/">友情链接2</a></li>
		</ul>
	</div>
</footer>