<div class="pull-right" style="margin-top:3px;">
    <div class="pull-left" style="margin-right:5px;">每页
        <select class="input-sm select-pageSize" style="width:100px;" id="pageSize">
            <option value="10" #if($!pager.limit ==10)selected #end>10</option>
            <option value="20" #if($!pager.limit ==20)selected #end>20</option>
            <option value="50" #if($!pager.limit ==50)selected #end>50</option>
            <option value="100" #if($!pager.limit ==100)selected #end>100</option>
        </select>
    </div>

    <ul class="pagination" style="margin:0 0;">
        <li class="disabled">
            <a href="#">共  $!pager.pages 页，共  $!pager.total 条记录</a>
        </li>

        #if($!pager.pages != 0)
            #set($nextPage = $pager.pageNumber + 1)
            #set($beforePage = $pager.pageNumber - 1)
            #set($twoAfter = $pager.pageNumber + 2)
            #set($twoBefore = $pager.pageNumber - 2)
            #if($!pager.pageNumber != 1)
                <li><a href="javascript:void(0)" onclick="toPage($beforePage)">&laquo;</a></li>
            #end

            #set($totlePage=[1..$!pager.pages])

            #foreach($p in $totlePage)
                #if($p == $pager.pageNumber)
                    <li class="active">
                        <a href="#">$p<span class="sr-only">(current)</span></a>
                    </li>
                #else
                    #if($p <= $twoAfter && $p >= $twoBefore)
                        <li><a href="javascript:void(0)" ; onclick="toPage($p)">$p</a></li>
                    #end
                #end
            #end

            #if($pager.pageNumber != $pager.pages)
                <li><a href="javascript:void(0)" onclick="toPage($nextPage)">&raquo;</a></li>
            #end
        #end
    </ul>
</div>
<script src="/static/js/common/page.js"></script>
