<xml version="1.0" encoding="utf-8">
<h2> this is the home page </h2>

<h2> $!tttt </h2>
<br>

<h2> my username is : $!user.username </h2>
<br>

<h2> my passworkd is : $!user.password </h2>
<br>

#foreach($num in $!arr)
	
	<h2> num is : $num </h2>
	<br>
#end


</xml>